In [30]:
import pandas as pd

In [31]:
employee = pd.read_excel('/content/Employee Sample Data - Copy.xlsx')

In [32]:
employee.head(10)

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT
5,E00644,Joshua Gupta,Account Representative,Sales,Corporate,Male,Asian,57.0,2017-01-24,50994.0,0.00,China,Chongqing,NaT
6,E01550,Ruby Barnes,Manager,IT,Corporate,Female,Caucasian,27.0,2020-07-01,119746.0,0.10,United States,Phoenix,NaT
7,E04332,Luke Martin,Analyst,Finance,Manufacturing,Male,Black,25.0,2020-05-16,41336.0,0.00,United States,Miami,2021-05-20
8,E04533,Easton Bailey,Manager,Accounting,Manufacturing,Male,Caucasian,29.0,2019-01-25,113527.0,0.06,United States,Austin,NaT
9,E03838,Madeline Walker,Sr. Analyst,Finance,Speciality Products,Female,Caucasian,34.0,2018-06-13,77203.0,0.00,United States,Chicago,NaT

# **Data exploration**

In [33]:
employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      998 non-null    object
 2   Job Title      999 non-null    object
 3   Department     998 non-null    object
 4   Business Unit  1000 non-null   object
 5   Gender         999 non-null    object
 6   Ethnicity      993 non-null    object
 7   Age            994 non-null    float64
 8   Hire Date      993 non-null    datetime64[ns]
 9   Annual Salary  989 non-null    float64
 10  Bonus %        992 non-null    float64
 11  Country        998 non-null    object
 12  City           998 non-null    object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(9)
memory usage: 109.5+ KB

In [34]:
employee.isnull().sum()

EEID               0
Full Name          2
Job Title          1
Department         2
Business Unit      0
Gender             1
Ethnicity          7
Age                6
Hire Date          7
Annual Salary     11
Bonus %            8
Country            2
City               2
Exit Date        915
dtype: int64

In [35]:
employee = employee.drop(['Exit Date'], axis=1) # drop because it contains 915 null values

In [36]:
employee['City'].fillna(employee['City'].mode()[0], inplace=True)
employee['Country'].fillna(employee['Country'].mode()[0], inplace=True)
employee['Gender'].fillna(employee['Gender'].mode()[0], inplace=True)
employee['Department'].fillna(employee['Department'].mode()[0], inplace=True)
employee['Job Title'].fillna(employee['Job Title'].mode()[0], inplace=True)
employee['Ethnicity'].fillna(employee['Ethnicity'].mode()[0], inplace=True)

In [37]:
employee['Full Name'].fillna('unknown', inplace=True)
employee['Hire Date'].fillna('unkown', inplace=True)

In [38]:
employee['Age'].fillna(employee['Age'].median(), inplace=True)

In [39]:
employee['Bonus %'].fillna(employee['Bonus %'].mean(), inplace = True)
employee['Annual Salary'].fillna(employee['Annual Salary'].mean(), inplace = True)

In [40]:
employee.isnull().sum()

EEID             0
Full Name        0
Job Title        0
Department       0
Business Unit    0
Gender           0
Ethnicity        0
Age              0
Hire Date        0
Annual Salary    0
Bonus %          0
Country          0
City             0
dtype: int64

In [41]:
employee.loc[0] = [23748,'Yousef AbuALi', "AI","IT","bussiness","male","arabic",20,'7/17/2013',19000,4.90,"jordan","amman"]
employee.loc[1] = [74548,'Jude tuqan', "marketing","bussiness","bussiness","female","arabic",25,'1/18/2012',9000,2.90,"jordan","amman"]
employee.loc[2] = [84048,'Jehad tuqan', "bussiness","security","bussiness","male","arabic",23,'7/17/2013',10000,0.90,"jordan","amman"]
employee.loc[3] = [12637,'Hamza elabed', "Doctor","doctor","doctor","male","arabic",19,'still training',15000,6.90,"USA","USA"]
employee.loc[4] = [40971,'issa elabed', "Doctor","doctor","doctor","male","arabic",19,'still training',15000,6.90,"USA","USA"]

In [44]:
employee.head(5)

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City
0,23748,Yousef AbuALi,AI,IT,bussiness,male,arabic,20.0,7/17/2013,19000.0,4.9,jordan,amman
1,74548,Jude tuqan,marketing,bussiness,bussiness,female,arabic,25.0,1/18/2012,9000.0,2.9,jordan,amman
2,84048,Jehad tuqan,bussiness,security,bussiness,male,arabic,23.0,7/17/2013,10000.0,0.9,jordan,amman
3,12637,Hamza elabed,Doctor,doctor,doctor,male,arabic,19.0,still training,15000.0,6.9,USA,USA
4,40971,issa elabed,Doctor,doctor,doctor,male,arabic,19.0,still training,15000.0,6.9,USA,USA

In [47]:
largestSalary = employee.nlargest(1, "Annual Salary")
largestSalary

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City
989,E04354,Raelynn Rios,Vice President,Sales,Manufacturing,Female,Latino,43.0,2016-08-21 00:00:00,258498.0,0.35,United States,Columbus